[package]
name = "rs-consul"
version = "0.2.3"
authors = ["Roblox"]
edition = "2018"
description = "This crate provides access to a set of strongly typed apis to interact with consul (https://www.consul.io/)"
readme = "README.md"
repository = "https://github.com/Roblox/rs-consul"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["default-tls"]
default-tls  = ["hyper-tls"]
metrics = ["prometheus", "lazy_static"]
rustls-native = ["hyper-rustls/rustls-native-certs"]
rustls-webpki = ["hyper-rustls/webpki-roots"]

# keep this list sorted!
[dependencies]
base64 = "0.21"
futures = "0.3.8"
http = "0.2.1"
hyper = { version = "0.14.2", features = ["full"] }
hyper-rustls = { version = "0.24", optional = true }
hyper-tls = { version = "0.5.0", optional = true, no-default-features = true }
lazy_static = { version = "1.4.0", optional = true }
opentelemetry = { version = "0.19", features = ["rt-tokio"] }
prometheus = { version = "0.13", optional = true }
quick-error = "2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
slog-scope = "4.3"
smart-default = "0.7"
tokio = { version = "1.1.1", features = ["full"] }
ureq = { version = "2", features = ["json"] }

